body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
#map {
    height: 100vh; /* Full screen height */
    width: 100%; /* Full screen width */
}

.container {
    background-color: white;
    width: 100vw; /*viewport width*/
    height: 100vh; /*viewport height*/
    /* margin: 50px auto; */
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 2px 10px rgba(0, 0, 0, 0.1);
  }

  @media (width >= 393px) {
    .container {
      width: 393px;
    }
  }

.search-container {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent; /* Remove background */
    z-index: 1000; /* Display above the map */
    display: flex; /* Use flexbox for alignment */
}

.search-input {
    width: 200px; /* Input field width */
    padding: 5px 10px; /* Padding */
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px; /* Rounded corners */
}

.search-button {
    padding: 5px 10px; /* Button padding */
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px; /* Rounded corners */
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    cursor: pointer; /* Change cursor */
    display: flex; /* Use flexbox for icon alignment */
    align-items: center; /* Vertical center alignment */
}
.search-button .fas {
    margin-right: 5px; /* Spacing between icon and text */
}
.button-container {
    display: flex;
    position: absolute;
    top: 40px; 
    margin: 0 20px;
    z-index: 1000;
}
.button-container button {
    background: white; /* White background */
    color: black; /* Text color */
    border: 1px solid #ccc; /* Border color */
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px; /* Button spacing */
    cursor: pointer;
}
.full-list {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #007bff; /* Default background color */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /* Display above the map */
}
.icon-box {
    position: absolute;
    top: 50px; /* Position slightly below the top right */
    right: 20px; /* Right margin */
    background: white; /* White background */
    border-radius: 5px; /* Rounded corners */
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow effect */
    z-index: 1000; /* Display above the map */
    text-align: center; /* Center alignment */
}
.icon-box .icon {
    color: #555; /* Dark gray color */
    margin: 5px; /* Icon spacing */
}
.divider {
    height: 1px; /* Height of the line */
    background-color: #555; /* Dark gray line */
    margin: 5px 0; /* Vertical margin */
}