* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}


.container {
    background-color: white;
    width: 100vw; /*viewport width*/
    height: 100vh; /*viewport height*/
    position: relative;
    /* margin: 50px auto; */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  @media (width >= 393px) {
    .container {
      width: 393px;
    }
  }
/* .container {
    max-width: 393px;
    max-height: 852px;
    
    
} */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
}
.download-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

h2 {
    margin: 20px 0;
    font-size: 18px;
}

.highlight {
    color: #007bff;
}

label {
    margin-top: 40px;
    display: block;
    font-size: 18px; /* 글씨 크기 */
    font-weight: bold; /* 글씨 진하게 */
}

.name-inputs {
    display: flex;
    gap: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer{
    display: flex;
    position: absolute;
    bottom: 32px;
    width: calc(100% - 20px * 2);

    justify-content: space-between;

} 

.nav-btn, .next-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-btn {
    background-color: #e0e0e0;
}

.next-btn {
    background-color: #007bff;
    color: white;
}